@{
    ViewBag.Title = "Сообщение отправлено!";
}
<div class="text-center">
    <h2 class="badge" style="width:100px; height:100px;font-size:large; color:steelblue; ">
        Сообщение отправлено!
    </h2>
</div>