@{
    ViewBag.Title = "Пароль успешно изменен!";
}
<div class="text-center">
<h2   class="badge" style="width:300px; height:100px;font-size:large; color:steelblue; "> 
    Пароль успешно изменен!
</h2>
</div>